<!DOCTYPE html> 
<html>
<head>
<title> Statistics </title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/2FBE7CEA-AD6F-514E-BFFB-364D0EDF4934/main.js" charset="UTF-8"></script><link rel="stylesheet" crossorigin="anonymous" href="https://gc.kis.v2.scr.kaspersky-labs.com/4394FDE0D463-BFFB-E415-F6DA-AEC7EBF2/abn/main.css"/><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<style type = "text/css">
p {color: grey}
</style>
</head>
<div class = "container"/>
    <title>Страница статистики</title>
</head>
<body>

<h1>Статистика</h1>
<p>Если Вас интересуют конкретные ответы пользователей, вы можете воспользоваться <a href="/search">поиском</a>.</p>
<p>Всего опрос был пройден {{ numbers }} раз(а).<br>
Список родных языков посетителей нашего сайта: {{lang}}.<br><p>
<a href="/">Перейти на главную страницу.</a>
