<!DOCTYPE html> 
<html>
<head>
<title> Thanks! </title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/2FBE7CEA-AD6F-514E-BFFB-364D0EDF4934/main.js" charset="UTF-8"></script><link rel="stylesheet" crossorigin="anonymous" href="https://gc.kis.v2.scr.kaspersky-labs.com/4394FDE0D463-BFFB-E415-F6DA-AEC7EBF2/abn/main.css"/><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<style type = "text/css">
p {color: grey}
</style>
</head>
<div class = "container"/>
    <title>Спасибо за ответ!</title>
</head>
<body>

<h1>Благодарим за Ваш ответ!</h1>
<p>Мы записали, что: <p>
<p>Ваш e-mail: {{ email }}. <br>
Ваш родной язык: {{ lang }}. <br>
Языки, которыми Вы владеете: {{a_lang}}. <br>
Зелёный цвет на Вашем языке обозначается словом {{color1}}. <br>
Чёрный цвет на Вашем языке обозначается словом {{color2}}. <br>
Синий цвет на Вашем языке обозначается словом {{color3}}. <br>
Коричневый цвет на Вашем языке обозначается словом {{color4}}. <br>
Cерый цвет на Вашем языке обозначается словом {{color5}}. <br>
Розовый цвет на Вашем языке обозначается словом {{color6}}. <br>
Голубой цвет на Вашем языке обозначается словом {{color7}}. <br>
Лаймовый цвет на Вашем языке обозначается словом {{color8}}. <br>
Оранжевый цвет на Вашем языке обозначается словом {{color9}}. <br>
Белый цвет на Вашем языке обозначается словом {{color10}}. <br>
Красный цвет на Вашем языке обозначается словом {{color11}}. <br>
Жёлтый цвет на Вашем языке обозначается словом {{color12}}.<br>
Фиолетовый цвет на Вашем языке обозначается словом {{color13}}.<p>
<a href="../stats">Перейти на страницу статистики.</a>
</body>
</html>