<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Киномай</title>
</head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/2FBE7CEA-AD6F-514E-BFFB-364D0EDF4934/main.js" charset="UTF-8"></script><link rel="stylesheet" crossorigin="anonymous" href="https://gc.kis.v2.scr.kaspersky-labs.com/4394FDE0D463-BFFB-E415-F6DA-AEC7EBF2/abn/main.css"/><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<style type = "text/css">
h1 {color: rgb(153, 51, 102)}
</style>
<body>

<h1><img src="{{url_for('static', filename='ticket-de-cinéma.png')}}"ALIGN=left>КиноМай <img src="{{url_for('static', filename='bloom.gif')}}"ALIGN=right></h1>

<p>Здравствуйте! На этом сайте можно посмотреть графики частотности ключевых слов для сообществ социальной сети vk.com, связанных с кинематографом, за май 2017 года. <br>
Сообщества, записи которых анализировались: <a href="https://vk.com/hofilm">Давай лучше дома посмотрим</a>, <a href="https://vk.com/xfilm">5 лучших фильмов</a>, <a href="https://vk.com/public.cinemaholics">Cinemaholics</a>, <a href="https://vk.com/kinopoisk">КиноПоиск</a>, <a href="https://vk.com/drugoekino<br>">Другое кино</a>.
<br>
<img src="{{url_for('static', filename='graph1.png')}}" /> <br>
<br>
<img src="{{url_for('static', filename='graph2.png')}}" /> <br>
<br>
<img src="{{url_for('static', filename='grem.png')}}" ALIGN=middle /> <br>


</body>
</html>